<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goodlearnai.v1.mapper.ClassExamQuestionOptionMapper">

    <!-- 批量插入选项 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO class_exam_question_option (ceq_id, option_label, option_content, is_correct, option_order)
        VALUES
        <foreach collection="options" item="item" separator=",">
            (#{item.ceqId}, #{item.optionLabel}, #{item.optionContent}, #{item.isCorrect}, #{item.optionOrder})
        </foreach>
    </insert>

    <!-- 根据班级考试题目ID删除所有选项 -->
    <delete id="deleteByCeqId" parameterType="java.lang.Long">
        DELETE FROM class_exam_question_option WHERE ceq_id = #{ceqId}
    </delete>

</mapper>

